<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NIT Siwan</title>
  <link rel="shortcut icon" href="/image/siwan_logo.png">
  <link rel="stylesheet" href="./CSE.css">
</head>

<body>
  <div class="container">
    <header class="site-header">
      <div class="logo">
        <div class="mark">GEC</div>
        <div>
          <div class="site-title">Government Engineering College, Siwan</div>
          <div style="font-size:12px;color:black;">Computer Science and Engineering</div>
        </div>
      </div>
      <nav class="top-nav">
        <a href="/">Home</a>
      </nav>
    </header>

    <div class="layout">
      <aside class="sidebar" id="sidebar">
        <h3>DEPARTMENT</h3>
        <ul class="fac-list">
          <li><a href="#" class="active">Computer Science and Engineering</a></li>
          <li><a href="#">CSE-IOT (INTERNATE OF THINGS)</a></li>
          <li><a href="#">Electrical Engineering</a></li>
          <li><a href="#">Civil Engineering</a></li>
          <li><a href="#">Mechanical Engineering</a></li>
          <li><a href="#">Applied Science and huminities</a></li>
        </ul>
      </aside>

      <main class="card">
        <section id="about" class="section">
          <h1>Computer Science and Engineering</h1>
          <hr>
          <p>
            The field of Computer Science and Engineering nowadays has become one of the most demandable branch amongst
            the aspiring engineers.We have a goal to provide an outstanding learning environment complemented by
            excellence in teaching. The Department is moving ahead to build technical platform to students by spreading
            awareness of technologies, transferring of the knowledge, sharpening the obtained knowledge, and exposing
            students to solve real time problems. Laboratories are fully equipped with latest computers and are
            supported by high speed Internet connection. Job opportunities are available both in private and public
            sectors for a graduate of this discipline. Subjects of further research include Artificial Intelligence
            especially Neural Network and Machine Learning and many more.</p>
          <div class="image">
            <img src="/image/CSE_image.jpeg" alt="" style="height: 100%; width: 100%;">
          </div>
        </section>

        <br>
        <hr>
      </main>
    </div>

    <footer class="site-footer">
      <div class="chile7">
        <div class="box5_child7" style="width: 23%;">
          <h2 style="color: orange; font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u> GEC SIWAN </u></h1>
            <P style="color: silver;">Government Engineering College, Siwan is a government engineering college in
              Siwan, Bihar, India. It is
              approved by the All India Council for Technical Education and affiliated with Aryabhatta Knowledge
              University, Patna.</P>
        </div>
        <div class="box5_child7" style="width: 15%;">
          <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Key offerings</u></h2>
          <li>Admission</li>
          <br>
          <li>Library</li>
          <br>
          <li>Hostel Fecilities</li>
          <br>
          <li>Career Placement</li>
        </div>
        <div class="box5_child7" style="width: 15%;">
          <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Important Links</u></h2>
          <li>Home</li>
          <br>
          <li>About Us</li>
          <br>
          <li>Academic Programs</li>
          <br>
          <li>Campus Amenities</li>
        </div>
        <div class="box5_child7" style="width: 16%;">
          <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Contact Us</u></h2>
          <p style="cursor: pointer;"><i class="fa-solid fa-location-dot" style="color: silver;"></i> Campus of Siwan
            Engineering Collage, Old Suta Mill Factory, Siwan Pin-841226</p>
          <br>
          <p style="cursor: pointer;"> <i class="fa-solid fa-phone" style="color: silver;"></i> +91 (906) 07175 63</p>
          <br>
          <p style="cursor: pointer;"> <i class="fa-regular fa-envelope" style="color: silver;"></i> gecsiwan@gmail.com
          </p>
        </div>
        <div class="box5_child7" style="width: 18%;">
          <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Follow Us On</u></h2>
          <div id="follow_media" style="display: flex; gap: 10px; margin-bottom: 20px;">
            <div style="height: 40px;width: 40px;border-radius: 50%; ">
              <a href="https://www.youtube.com/@Thecollegeedit"><img src="/image/youtube.png" alt=""
                  style="height: 100%;width: 100%; cursor: pointer;"></a>
            </div>
            <div style="height: 40px;width: 40px;border-radius: 50%;">
              <a href="https://www.instagram.com/gec_siwan_officials/?hl=en"><img src="/image/social.png" alt=""
                  style="height: 100%;width: 100%; cursor: pointer;"></a>

            </div>
            <div style="height: 40px;width: 40px;border-radius: 50%;">
              <a href="https://x.com/CollegeSiwan">
                <img src="/image/twitter.png" alt="" style="height: 100%;width: 100%; cursor: pointer;">
              </a>
            </div>
            <div style="height: 40px;width: 40px;border-radius: 50%;">
              <a href="https://www.linkedin.com/company/gecsiwan/?originalSubdomain=in"><img src="/image/linkedin.png"
                  alt="" style="height: 100%;width: 100%; cursor: pointer;"></a>
            </div>
          </div>
          <p style="color: silver;">This site is developed by Ayush</p>
          <br>
          <p style="color: silver;">2024 GEC Siwan, All rights reserved</p>
        </div>
      </div>
    </footer>
  </div>

  <script src="./library.js"></script>
</body>

</html>