<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NIT Siwan</title>
  <link rel="shortcut icon" href="/image/siwan_logo.png">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
</head>

<body>
  <div class="parent">
    <div class="child1">
      <div class="college_name">
        <div class="logo1" style="display: flex; align-items: center;">
          <div class="siwan_l" style="height: 100%; width: 120px;border-radius: 50%;"><img src="/image/siwan_logo.png"
              alt="" style="height: 100%; width: 100%;"></div>
          <div class="siwan_n" style="height:100%; width:240px;"><img src="/image/siwan name.png" alt=""
              style="height:100%; width:100%;"></div>
        </div>
        <div class="name">GOVERNMENT ENGINEERING COLLAGE SIWAN
          <p style="font-size: small;">( Science, Technology and Technical Education Dept., Govt. Of Bihar )</p>
        </div>
        <div class="logo2" style="height: 100%; width: 110px;"><img src="/image/logo.png" alt=""
            style="height: 100%;width: 100%;"></div>
      </div>
      <div class="heading"
        style="display: flex; justify-content: space-between; height: 52px; padding-left: 4%; background-color: white;">
        <div class="box1"><a href="/">
            <div class="fa-solid fa-house-chimney" style="color: #015dab;  font-size: xx-large; cursor: pointer;"></div>
          </a>

          <div class="text">
            <select name="select" id="">
              <option value="" style="display: none; outline: none;">About</option>
            </select>
            <div class="detail" id="about">
              <li><a href="/administration" style="text-decoration: none; color: white;">Administration</a></li>
              <li>Affiliation</li>
              <li>Allotment and Surrender Report</li>
              <li>Contact us</li>
              <li>History</li>
              <li>Principal's Message</li>
              <li>Vision Mission</li>
              <li>Visit Us</li>
            </div>
          </div>
          <div class="text">
            <select name="select" id="">
              <option value="" style="display: none; outline: none;">Academics</option>
            </select>
            <div class="detail" id="academics">
              <li>Academic Calendar</li>
              <li>Admission</li>
              <li>Anti Ragging</li>
              <li>Attendance</li>
              <li>Disicplinary Rule</li>
              <li>List of Holidays</li>
              <li>MOM of Academic Council</li>
              <li>Notice from Govt.</li>
            </div>
          </div>
          <div class="text">
            <select name="select" id="">
              <option value="" style="display: none; outline: none;">Departments</option>
            </select>
            <div class="detail" id="Departments" style="width: 200%;">
              <li><a href="/CSE" style="text-decoration: none; color: white;">Computer Science and Engineering</a></li>
              <li>CSE-IOT (INTERNATE OF THINGS)</li>
              <li>Electrical Engineering</li>
              <li>Civil Engineering</li>
              <li>Mechanical Engineering</li>
              <li>Applied Science and huminities</li>
            </div>
          </div>
          <div class="text">
            <select name="select" id="">
              <option value="" style="display: none; outline: none;">Facities</option>
            </select>
            <div class="detail" id="Facities">
              <li><a href="/library">Central Library</a></li>
              <li>Club</li>
              <li>Computer Center</li>
              <li>Hostels</li>
              <li>Medical Facilities</li>
              <li>Wi-Fi</li>
              <li>Bank</li>
              <li>Gest House</li>
              <li>Gymnasium</li>
            </div>
          </div>
          <div class="Placement" id="select" style="font-size: 110%;">Placement</div>
          <div class="gallery" id="select" style="font-size: 110%;">Gallery</div>
          <div class="text">
            <select name="select" id="">
              <option value="" style="display: none; outline: none;">Approval</option>
            </select>
            <div class="detail" id="Approval">
              <li>Bihar Engineering University</li>
              <li>AICTE</li>
            </div>
          </div>
        </div>
        <div class="box2">
          <button class="login" style="box-shadow: 5px 5px 5px gray;"><a href="/login">Login</a></button>
        </div>
      </div>
    </div>
    <div class="chile2">
      <div class="notice">
        <marquee behavior="scroll" direction="left">Government engineering college siwan is a premier institution of
          Bihar Government under Department of Science and Technology. It is approved by AICTE, New Delhi and is
          affiliated to Aryabhatta Knowledge University, Patna. The college is established in 2018 and is situated in
          Siwan district of Bihar. The college is spread over 25 acres of land. The college is committed to provide
          quality technical education to the students. The college has well equipped laboratories, workshops, library,
          computer center, seminar hall, auditorium, sports facilities, hostels and other facilities. The college has
          well qualified and experienced faculty members. The college offers B.Tech. degree in Civil Engineering,
          Mechanical Engineering, Electrical Engineering and Computer Science and Engineering. The college has a
          Training and Placement Cell which provides training and placement opportunities to the students. The college
          has a strong alumni network. The college has a strong industry-institute interaction. The college has a strong
          research and development cell. The college has a strong entrepreneurship development cell. The college has a
          strong innovation and incubation cell. The college has a strong social responsibility cell. The college has a
          strong sports and cultural cell.
        </marquee>
      </div>
      <div class="box3">

        <div class="image_box">
          <div id="back">
            <div id="left_back">&larr;</div>
            <div id="right_next">&rarr;</div>
          </div>
          <img class="images" src="/image/induction_2025-29.png" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/Trining & Placement.jpg" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/Screenshot 2025-07-06 004846.png" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/siwan Library.jpg" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/siwan news.jpeg" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/grtting placed.jpeg" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/siwan badminton court.jpeg" alt="" style="height: 100%; width: 100%;">
          <img class="images" src="/image/siwan_fest.jpeg" alt="" style="height: 100%; width: 100%;">
        </div>
        <div class="notice_box">
          <h1><i><u>NOTICE BOARD</u></i></h1>
          <div class="notic">
            <p>Anti-Ragging Squad Committe 2025</p>
            <p style="color: #015dab;">Jul 01,2025</p>
            <p
              style="border: 1px solid black; width:70px;text-align: center; background-color: orange; color: white; border-radius: 5px;">
              View</p>
          </div>
          <div class="notic">
            <p>First Semester Syllabus</p>
            <p style="color: #015dab;">Jul 21,2025</p>
            <p
              style="border: 1px solid black; width:70px;text-align: center; background-color: orange; color: white; border-radius: 5px;">
              View</p>
          </div>
          <div class="notic">
            <p>Induction Program Schedule 2025</p>
            <p style="color: #015dab;">Jul 28,2025</p>
            <p
              style="border: 1px solid black; width:70px;text-align: center; background-color: orange; color: white; border-radius: 5px;">
              View</p>
          </div>
          <div class="notic">
            <p>Walik in interview on 27/03/2025</p>
            <p style="color: #015dab;">Mar 25,2025</p>
            <p
              style="border: 1px solid black; width:70px;text-align: center; background-color: orange; color: white; border-radius: 5px;">
              View</p>
          </div>
          <div class="notic">
            <p>Tenders regarding desktop computer upgradation</p>
            <p style="color: #015dab;">Dec 25,2024</p>
            <p
              style="border: 1px solid black; width:70px;text-align: center; background-color: orange; color: white; border-radius: 5px;">
              View</p>
          </div>
          <div class="notic">
            <p>Walk in Interview</p>
            <p style="color: #015dab;">Dec 19,2024</p>
            <p
              style="border: 1px solid black; width:70px;text-align: center; background-color: orange; color: white; border-radius: 5px;">
              View</p>
          </div>
        </div>
      </div>
    </div>
    <div class="child8">
      <section class="box" id="section-2">
        <div id="img">
          <div class="img-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhGAJyqsgFxeRTzIV4SB6pO3datH-E-o9E9Q&s"
              alt="" style="height: 100%;width: 100%;">
            <p style="font-size: small;">Nitish Kumar, Hon'ble Chief Minister</p>
          </div>
          <div class="img-1"><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5cB-DbQN64K3LgxbpDe-BVt29VGP_hRT2eQ&s" alt=""
              style="height: 100%;width: 100%;">
            <p style="font-size: small;">Sri Sumit Kumar Singh, Hon'ble Minister Science & Technology
            </p>
          </div>
        </div>
        <div id="siwan">
          <h2>Welcome to GEC Siwan</h1>
            <hr>
            <hr>
            <p><b>GOVERNMENT ENGINEERING COLLEGE(GEC), SIWAN</b> is one of the new Government Engineering
              College established by the Government of Bihar under the Department of Science and
              Technology. It will start its first academic session 2019 from campus of Government
              Polytechnic Siwan, Bihar. The new engineering college will have three engineering branches
              –Civil, Mechanical and Electrical Engineering, with an <b>intake of 60, 60 and 120 per
                branch respectively and 240 students in total.</b>
              <span id="span_color">Read More >></span>
            </p>
        </div>
      </section>
    </div>
    <div class="child3">
      <div class="box_title">
        <span><b>------</b></span>
        <div class="box_name"><i><u><b>Academic Events & Initiatives</b></u></i></div>
        <span><b>------</b></span>
      </div>
      <div class="child3_image">
        <div class="data">
          <div class="div_image">
            <img src="/image/add Dev image.avif" alt="" style="height: 100%;width: 100%; border-radius: 20px;">
          </div>
          <p style="font-size: 1.5rem;">App Developed</p>
        </div>
        <div class="data">
          <div class="div_image">
            <img src="/image/web dev image.jpg" alt="" style="height: 100%;width: 100%; border-radius: 20px;">
          </div>
          <p style="font-size: 1.5rem;">Web Developed</p>
        </div>
        <div class="data">
          <div class="div_image">
            <img src="/image/ai image.jpeg" alt="" style="height: 100%;width: 100%; border-radius: 20px;">
          </div>
          <p style="font-size: 1.5rem;">AI-Machine Learning</p>
        </div>
        <div class="data">
          <div class="div_image">
            <img src="/image/iot image.jpg" alt="" style="height: 100%;width: 100%; border-radius: 20px;">
          </div>
          <p style="font-size: 1.5rem;">IOT (Internet of Things)</p>
        </div>
      </div>
      <div class="show_more">Show More</div>
    </div>
    <div class="child4">
      <div id="dasboard">------ Dasboard ------</div>
      <div class="box4">
        <div class="contenar"
          style="background: linear-gradient(rgb(206, 232, 255), rgb(255, 223, 218)); transition: 0.5s;">
          <h2 class="box4_h2">4.2K+</h2>
          <p class="box4_p">Students</p>
        </div>
        <div class="contenar"
          style="background: linear-gradient(rgb(206, 232, 255), rgb(215, 238, 220)); transition: 0.5s;">
          <h2 class="box4_h2">1.4K+</h2>
          <p class="box4_p">Graduates</p>
        </div>
        <div class="contenar"
          style="background: linear-gradient(rgb(206, 232, 255), rgb(221, 220, 255)); transition: 0.5s;">
          <h2 class="box4_h2">500</h2>
          <p class="box4_p">Placement</p>
        </div>
        <div class="contenar"
          style="background: linear-gradient(rgb(206, 232, 255), rgb(227, 227, 227)); transition: 0.5s;">
          <h2 class="box4_h2">500</h2>
          <p class="box4_p">Companies Engaged</p>
        </div>
        <div class="contenar"
          style="background: linear-gradient(rgb(206, 232, 255), rgb(255, 242, 218)); transition: 0.5s;">
          <h2 class="box4_h2">125K</h2>
          <p class="box4_p">Internships Engaged</p>
        </div>
      </div>
    </div>
    <div class="child5">
      <div id="media1">
        <p style="font-size: 35px; color: #015dab;">Connect with Us
        <p>Join Our Social Hub to stay up to data</p>
        </p>

        <div id="icon">
          <img src="/image/social.png" alt="" style="height:40px; width:40px;">
          <img src="/image/twitter.png" alt="" style="height:40px; width:40px;">
          <img src="/image/youtube.png" alt="" style="height:40px; width:40px;">
          <img src="/image/linkedin.png" alt="" style="height:40px; width:40px;">
        </div>
      </div>
      <div id="media2" style="height:310px; width: 310px;">
        <img src="/image/media.webp" alt="" h100% width="100%">
      </div>
    </div>
    <div class="child6">
      <section class="box" id="section-4">
        <div id="box-1">
          <div id="box-title-1">
            <button class="title-2" id="allowancement">Notice</button>
            <button class="title-2" id="tenders">Tenders</button>
            <button class="title-2" id="placement">Placement</button>
            <button class="title-2" id="awards">Awards</button>
          </div>
          <hr id="line" style="color: rgb(9, 140, 196); background-color: rgb(9, 140, 196); height: 5px;">
          <div id="box-title-2">
            <div class="container">
              <b>Anti-ragging squad_2025-26</b>
              <p id="last_date"> 07 Jul, 2025</p>
            </div>
            <hr>
            <div class="container">
              <b>Walk in interview on 27/03/2025 </b>
              <p id="last_date"> 25 Mar, 2025</p>
            </div>
            <hr>
            <div class="container">
              <b>Walk_In_Interrview</b>
              <p id="last_date"> 07 Mar, 2025</p>
            </div>
            <hr>
            <div class="container">
              <b>Walk_In__Interview</b>
              <p id="last_date"> 07 Mar, 2025</p>
            </div>
            <hr>
            <div class="container">
              <b>Short Term Notic Inviting tea/nder for rexuest for propsal (RFP) for supply of
                machines and labortory equipments for Civil Engineering Depertment</b>
              <p id="last_date"> 04 Oct, 2024</p>
            </div>
            <div id="view-more"> <button id="view_btn">View More</button></div>
          </div>
        </div>
        <div id="box-2">
          <hr id="line" style="color: rgb(9, 140, 196); background-color: rgb(9, 140, 196); height: 5px;">
          <div id="link">Important Links</div>
          <div id="informetion">
            <div class="info"> Social Welfare Dept. Bihar
            </div>
            <hr>
            <div class="info"> Social Welfare Dept. Bihar
            </div>
            <hr>
            <div class="info"> Social Welfare Dept. Bihar
            </div>
            <hr>
            <div class="info"> Social Welfare Dept. Bihar
            </div>
            <hr>
            <div class="info"> Social Welfare Dept. Bihar
            </div>
            <hr>
          </div>
        </div>
      </section>
    </div>
    <div class="chile7">
      <div class="box5_child7" style="width: 23%;">
        <h2 style="color: orange; font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u> GEC SIWAN </u></h1>
          <P style="color: silver;">Government Engineering College, Siwan is a government engineering college in Siwan,
            Bihar, India. It is
            approved by the All India Council for Technical Education and affiliated with Aryabhatta Knowledge
            University, Patna.</P>
      </div>
      <div class="box5_child7" style="width: 15%;">
        <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Key offerings</u></h2>
        <li>Admission</li>
        <br>
        <li>Library</li>
        <br>
        <li>Hostel Fecilities</li>
        <br>
        <li>Career Placement</li>
      </div>
      <div class="box5_child7" style="width: 15%;">
        <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Important Links</u></h2>
        <li>Home</li>
        <br>
        <li>About Us</li>
        <br>
        <li>Academic Programs</li>
        <br>
        <li>Campus Amenities</li>
      </div>
      <div class="box5_child7" style="width: 16%;">
        <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Contact Us</u></h2>
        <p style="cursor: pointer;"><i class="fa-solid fa-location-dot" style="color: silver;"></i> Campus of Siwan
          Engineering Collage, Old Suta Mill Factory, Siwan Pin-841226</p>
        <br>
        <p style="cursor: pointer;"> <i class="fa-solid fa-phone" style="color: silver;"></i> +91 (906) 07175 63</p>
        <br>
        <p style="cursor: pointer;"> <i class="fa-regular fa-envelope" style="color: silver;"></i> gecsiwan@gmail.com
        </p>
      </div>
      <div class="box5_child7" style="width: 18%;">
        <h2 style="font-size: 170%; margin-bottom: 30px; cursor: pointer;"><u>Follow Us On</u></h2>
        <div id="follow_media" style="display: flex; gap: 10px; margin-bottom: 20px;">
          <div style="height: 40px;width: 40px;border-radius: 50%; ">
            <a href="https://www.youtube.com/@Thecollegeedit"><img src="/image/youtube.png" alt=""
                style="height: 100%;width: 100%; cursor: pointer;"></a>
          </div>
          <div style="height: 40px;width: 40px;border-radius: 50%;">
            <a href="https://www.instagram.com/gec_siwan_officials/?hl=en"><img src="/image/social.png" alt=""
                style="height: 100%;width: 100%; cursor: pointer;"></a>

          </div>
          <div style="height: 40px;width: 40px;border-radius: 50%;">
            <a href="https://x.com/CollegeSiwan">
              <img src="/image/twitter.png" alt="" style="height: 100%;width: 100%; cursor: pointer;">
            </a>
          </div>
          <div style="height: 40px;width: 40px;border-radius: 50%;">
            <a href="https://www.linkedin.com/company/gecsiwan/?originalSubdomain=in"><img src="/image/linkedin.png"
                alt="" style="height: 100%;width: 100%; cursor: pointer;"></a>
          </div>
        </div>
        <p style="color: silver;">This site is developed by Ayush</p>
        <br>
        <p style="color: silver;">2024 GEC Siwan, All rights reserved</p>
      </div>
    </div>
  </div>
  <script src="/script.js"></script>
</body>

</html>